html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


html {
	font-size: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin 0px;
	padding 0px;
	overflow-x hidden;
 	font-family: Georgia, "Times New Roman", Times, serif;
	color:#222222;
	background-color: #ffffff; 
	/*font:normal 400 14px/1 'robotoregular', Arial, sans-serif;*/
	font-family: sans-serif;
	word-wrap: break-word;
	line-height: 1.4;
	vertical-align: baseline;
}

p {
	padding-top: 8px;
}

.responsive {
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.header-bg {
	color:#000000;
	background-color: #ffffff;
	height: 46px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.header-box {
	display: flex;
	justify-content: left;
	flex-direction: row;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.header-img {
	padding-top: 2px;
	padding-left: 10px;
}

.header-item {
	padding-left: 10px;
	padding-right: 30px;
	padding-bottom: 2px;
	font-size: 22px;
}

.header-item a{
	color:#333333;
	text-transform: uppercase;
	text-decoration: none;
}

#content {
  width: 900px ;
  margin-left: auto ;
  margin-right: auto ;
}
.grid-container {
	margin-top: 80px;
        width: 900px;
	margin-bottom: 80px;
}

.row:before, 
.row:after {
	content:"";
	display: table ;
	clear:both;
}

.column4 {
	float: left; 
	width: 33.3%;
	margin-bottom: 50px;
}

.subject-cell {
	padding-right: 20px;
	color:#222222;
	/*font:normal 400 14px/1 'robotoregular', Arial, sans-serif;*/
	font-family: sans-serif;
	word-wrap: break-word;
	line-height: 1.4;
	vertical-align: baseline;
	font-weight:400;
	font-size:22px;
	text-transform: uppercase;
}

.appendix-pad {
	color: #666666;
	font-size:14px;
}
.appendix-title {
	color: #666666;
}

.note {
	background-color: #f3f3f0;
	padding: 25px;
	margin-bottom: 10px ;
}

.important {
	background-color: #f5d77d;
	padding: 25px;
	margin-bottom: 10px ;
}

.tabbed {
	padding-left: 25px;
	margin-bottom: 10px ;
}

.tabbed_line {
	padding-left: 25px;
}

.tocitem {
	font-size:12px;
	line-height: 1.0;

}

.tocli {
	list-style-type: none;
}

.copyright-info {
 	font-family: Georgia, "Times New Roman", Times, serif;
	margin-top:80px;
	color: #444444;
	font-weight:400;
	font-size:12px;
}

.subject-header {
	text-transform: uppercase;
	margin-top:10px;
	color: #000000;
	font-weight:400;
	font-size:26px;
}

.filter {
	margin-bottom: 25px;
	color: #000000;
	font-weight:400;
	font-family: sans-serif;
	word-wrap: break-word;
	line-height: 1.4;
	vertical-align: baseline;
}

.filter-name {
	padding-left: 20px;
}

.filter-property {
	padding-left: 50px;
	font-size:12px;
}
.filter-value {
	display:inline-block;
	color: #0000bb;
	font-size: 8;
}

.filter-group {
	color: #000000;
	font-size: 26;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 10px;
}

.r-widget {
	display: inline-block;
	margin-top:0px;
	margin-left:15px;
	margin-bottom:10px;
}

/* Otsikot 1 */
h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
	margin:2px 0;
	color: #000000;
	font-weight:400;
}

/* Otsikot 2 */
h1{
	font-size:30px;
	color: #000000;
}
h2{
	margin-top: 100px;
	font-size:26px;
}
h3{
	font-size:22px;
	margin-top: 50px;
	margin-bottom:0px;
}
h4{
	margin-top:10px;
	margin-bottom:0px;
	font-size:18px;
}
h5{
	margin-top:5px;
	font-size:16px;
	margin-bottom:0px;
	margin-left:15px;
}
 h6{
	font-size:14px;
}

/**  fonts  **/
@font-face {
    font-family: 'robotoregular';
    src: url('css/fonts/Roboto-Regular-webfont.eot');
    src: url('css/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('css/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('css/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('css/fonts/Roboto-Medium-webfont.eot');
    src: url('css/fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('css/fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('css/fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('css/fonts/Roboto-Light-webfont.eot');
    src: url('css/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/Roboto-Light-webfont.woff') format('woff'),
         url('css/fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('css/fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight_italic';
    src: url('css/fonts/Roboto-LightItalic-webfont.eot');
    src: url('css/fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/Roboto-LightItalic-webfont.woff') format('woff'),
         url('css/fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('css/fonts/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoblack';
    src: url('css/fonts/Roboto-Black-webfont.eot');
    src: url('css/fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/Roboto-Black-webfont.woff') format('woff'),
         url('css/fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('css/fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
