#darker-bg-widget {
  background-color: $base_color;
}

#lighter-bg-widget {
  background-color: $bg_color;
}

#accent-fg-widget {
  color: $accent_fg_color;
}

#editor-row-widget {
  background-color: $bg_color;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

#no-pad {
  padding: 0px;
}
      

